<ion-view title="Cadastro" id="page7">
    <ion-content padding="true" class="has-header">
        <form id="cadastro-form2" class="list">
            <ion-list id="cadastro-list1">
                <label class="item item-input" id="cadastro-input3">
                    <span class="input-label">Nome</span>
                    <input type="text" placeholder="">
                </label>
                <label class="item item-input" id="cadastro-input4">
                    <span class="input-label">Email</span>
                    <input type="email" placeholder="">
                </label>
                <label class="item item-input" id="cadastro-input5">
                    <span class="input-label">Senha</span>
                    <input type="password" placeholder="">
                </label>
            </ion-list>
            <button id="cadastro-button5" class="button button-positive  button-block">Cadastrar</button>
        </form>
    </ion-content>
</ion-view>