<ion-view title="Esqueci minha senha" id="page8">
    <ion-content padding="true" class="has-header">
        <div id="esqueciMinhaSenha-markdown5" style="color:#000000;">
            <p>Digite seu email e nós lhe enviaremos instruções para definir uma nova senha.</p>
        </div>
        <form id="esqueciMinhaSenha-form4" class="list">
            <label class="item item-input" id="esqueciMinhaSenha-input7" name="email">
                <input type="text" placeholder="E-mail">
            </label>
        </form>
        <button id="esqueciMinhaSenha-button7" class="button button-positive  button-block">Redefinir minha senha</button>
    </ion-content>
</ion-view>