<ion-view title="Home" id="page2">
    <ion-content padding="true" class="has-header">
        <h1 id="home-heading1" style="color:#000000;">Título com h1</h1>
        <h2 id="home-heading2" style="color:#000000;">Título com h2</h2>
        <button id="home-button1" class="button button-positive  button-block">Entrar com Facebook</button>
        <button id="home-button2" class="button button-assertive  button-block">Entrar com Gmail</button>
        <div id="home-markdown1" style="color:#000000;">
            <p>Ou use seu email e senha para entrar em sua conta.</p>
        </div>
        <form id="home-form1" class="list">
            <label class="item item-input" id="home-input1">
                <span class="input-label">Email</span>
                <input type="email" placeholder="">
            </label>
            <label class="item item-input" id="home-input2">
                <span class="input-label">Senha</span>
                <input type="password" placeholder="">
            </label>
        </form>
        <button id="home-button3" class="button button-positive  button-block">Entrar</button>
        <a ui-sref="tabsController.esqueciMinhaSenha" id="home-button8" class="button button-light  button-block">Esqueci minha senha</a>
        <div class="spacer" style="width: 300px; height: 25px;"></div>
        <div id="home-markdown3" style="color:#000000;text-align:center;">
            <p>Ainda não tem uma conta?</p>
        </div>
        <a ui-sref="tabsController.cadastro" id="home-button4" class="button button-balanced  button-block">Quero me cadastrar!</a>
    </ion-content>
</ion-view>