<ion-view title="Minha Cesta" id="page3">
    <ion-content padding="true" class="has-header"></ion-content>
</ion-view>



<ion-view title="Home" id="page2">
    <ion-content padding="true" class="has-header">

		<div class="list">

		    <div class="item item-thumbnail-left">
		      <img src="http://compreofertas.com.br/uploads/2309201610422050566718.png">
		      <h2>Pretty Hate Machine</h2>
		      <p>Nine Inch Nails</p>
				
			 <div class="">
			   <a class="button button-icon icon ion-settings"></a>
			</div> 

		    </div>

		    <div class="item item-thumbnail-left">
		      <img src="http://compreofertas.com.br/uploads/2309201610422050566718.png">
		      <h2>Pretty Hate Machine</h2>
		      <p>Nine Inch Nails</p>
		    </div>

		   

		</div>

    </ion-content>
</ion-view>